[Unit]
Description=Runs flaki container number %i
After=docker.service

[Service]
Type=simple
ExecStart=/bin/docker start -a flaki-%i
ExecStop=/bin/docker stop flaki-%i
Restart=always

[Install]
WantedBy=multi-user.target
